@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: sans-serif;
    --var-cor-01: #931515;
    --var-cor-02: #159439;
    --var-cor-03: #0f6b29;
    --var-cor-04: #5F0B0B;
    --var-cor-05: #350606;

    --var-dur-transicoes: 0.1s;
}

a{
    color: inherit;
}

button{
    border: none;
    color: white;
    background-color: transparent;
}

html{
    scroll-behavior: smooth;
}

body{
    max-width: 1800px; /* para monitores com resolucoes muito altas */
    margin: auto;
    overflow-x: hidden; /* para as imagens n criarem scroll qnd crescerem */
}


.sublinhado{
    text-decoration: underline;
}
.italico{
    font-style: italic;
}

h3{
    color: white;
    font-weight: bold;
    font-size: 1.75em;
    text-align: center;
}

.botao-solicitar-orcamento{
    border: none;
    padding: 10px 25px;
    background-color: var(--var-cor-02);
    color: white;
    font-weight: bold;
    line-height: 1.25em;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,.5);
    transition: transform var(--var-dur-transicoes), background-color var(--var-dur-transicoes);
}
.botao-solicitar-orcamento:hover{
    text-decoration: underline;
    background-color: var(--var-cor-03);
    cursor: pointer;
}

.link-politica-privacidade{
    text-decoration: underline;
}



/* ESTILOS DO HEADER ======================================================================================================== */

header{
    position: sticky;
    top: 0px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    background-color: var(--var-cor-01);
    color: white;
    box-shadow: 0px 3px 5px 5px rgba(0,0,0,.3);
}

#header__div-logo{
    height: 74px; /*tamanho da imagem*/
}
#header__div-logo > img{
    width: 229px;
}
#header__div-logo > small{
    position: absolute;
    transform: translate(-10px, 48px);
    font-weight: bold;
}

#header__div-botao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}
#header__div-botao p{
    font-weight: bold;
    cursor: pointer;
    color: white;
}


/* ESTILOS DO BANNER ======================================================================================================== */

#banner__cima{
    padding: 20px;
    background-color: var(--var-cor-04);
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
#banner__cima > p{
    animation-name: fade-in;
    animation-duration: 1s;
}
@keyframes fade-in{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

#banner__baixo{
    max-height: 153px;
    position: relative;
}
#banner-baixo__div-background{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    transition: padding-bottom 0.5s;
    background-image: 
        linear-gradient(to top, rgba(0,0,0,.3), rgba(0,0,0,.3)),
        url(imagens/imagem_banner_1500.jpg)
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}
#banner-baixo__div-background:hover{
    padding-bottom: 300px;
    transition: padding-bottom 0.5s;
    transition-delay: 0.2s;
}
#banner__baixo button:hover{
    transform: scale(1.1);
    transition: transform var(--var-dur-transicoes)
}


/* ESTILOS DO MAIN ========================================================================================================== */

main{
    max-width: 1000px;
    margin: auto;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background: lightgrey;
    background: var(--var-cor-04);
}

main .main__imagem-planejado{
    width: 300px;
    height: 168px;
    z-index: inherit;
    background-image: url(imagens/imagem_banner_1500.jpg);
    background-size: cover;
    cursor: pointer;
    transition: transform var(--var-dur-transicoes);
}
main > .main__imagem-planejado:hover{
    transform: scale(1.3);
    z-index: 1;
    transition: transform var(--var-dur-transicoes);
}

main .main__imagem-planejado > div{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    transition: background-color var(--var-dur-transicoes);
}
main > .main__imagem-planejado:hover > div{
    background-color: rgba(0,0,0,.0);
    transition: background-color var(--var-dur-transicoes);
}


/* ESTILOS DA MODULRA DAS IMAGENS =========================================================================================== */

#container-imagens-g{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.75);
    display: none;
}
#container-imagens-g.ativo{
    display: flex;
}

#container-imagens-g > img{
    position: absolute; /*para os filhos poderem serem deslocados*/
    width: fit-content;
    height: 95%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}

#container-ig__botoes{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

#container-ig__botoes > button{
    opacity: 50%;
    transition: opacity var(--var-dur-transicoes), transform var(--var-dur-transicoes);
}
#container-ig__botoes > button:hover{
    opacity: 100%;
    transform: scale(1.1);
    transition: opacity var(--var-dur-transicoes), transform var(--var-dur-transicoes);
    cursor: pointer;
}

#container-ig-botoes__botao-fechar{
    position: absolute;
    right: 11px;
    top: 0px;
    font-size: 3em;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--var-cor-04);
}

#container-ig__botoes > .botao-lateral{
    font-size: 4em;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--var-cor-04);
}

#container-ig-botoes__botao-esquerda{
    padding: 60px 40px 60px 0px;
}
#container-ig-botoes__botao-direita{
    padding: 60px 0px 60px 40px;
}


/* ESTILOS DA DIV DO FRETE E MONTAGEM ======================================================================================= */

#div-frete-montagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    background-image: 
        linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url(imagens/imagem_banner_1500.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#div-fm__moldura{
    padding: 50px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #9315152f; /*cor principal mas quase transparente*/
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

#div-fm__moldura > a{
    color: white;
    text-decoration: underline;
}

#div-fm__moldura .botao-solicitar-orcamento:hover{
    transform: scale(1.1);
    transition: transform var(--var-dur-transicoes)
}


/* ESTILOS DAS DIV EXPANDIVEIS ============================================================================================= */

.container-divs-expandiveis{
    background-color: var(--var-cor-04);
    max-width: 1000px;
    margin: auto;
}

.container-divs-expandiveis > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 20px;
}

.expandivel{
    padding: 10px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.075);
    transition: background-color var(--var-dur-transicoes);
}
.section-expandivel__titulo::before{
    content: '➥ '; /*» ➤*/
}
.expandivel:hover{
    background-color: rgba(255, 255, 255, 0.15);
    transition: background-color var(--var-dur-transicoes);
}

.section-expandivel__descricao{
    max-height: 0px;
    overflow-y: hidden;
    margin-top: 8px;
    margin-left: 40px;
}
.section-expandivel__descricao.ativo{
    max-height: 999px;
}


/* ESTILOS DO FOOTER ======================================================================================================== */

footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    background-color: var(--var-cor-05);
    font-size: 0.9em;
    color: white;
    text-align: center;
}

#footer__div-unidades-fisicas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
#footer__div-unidades-fisicas > h3{
    margin-bottom: 10px;
}
#footer__div-unidades-fisicas > p::before{
    content: "» ";
}






